'.platform-darwin .workspace .editor:not(.mini).task-list':
  'shift-enter': 'tasks:add-new-task'
  'ctrl-enter': 'tasks:add-new-project'
  'ctrl-\\':'tasks:move-to-project'
  'ctrl-shift-d': 'tasks:mark-task-complete'
  'ctrl-shift-a': 'tasks:archive-task'
  'ctrl-shift-c': 'tasks:cancel-task'
  'ctrl-shift-y': 'tasks:tag-with-today'
  

'.platform-win32 .workspace .editor:not(.mini).task-list, .platform-linux .workspace .editor:not(.mini).task-list':
  'shift-enter': 'tasks:add-new-task'
  'ctrl-enter': 'tasks:add-new-project'
  'ctrl-\\':'tasks:move-to-project'
  'ctrl-shift-d': 'tasks:mark-task-complete'
  'ctrl-shift-a': 'tasks:archive-task'
  'ctrl-shift-c': 'tasks:cancel-task'
  'ctrl-shift-y': 'tasks:tag-with-today'
