'fileTypes': [
  'todo'
  'taskpaper'
]

'scopeName': 'task'
'name': 'Tasks'
'patterns': [
# start with the most specific
  {
    'match': '^(\\s) (?!☐|✔|✘).*'
    'name': 'task.note'
  }

  {
    'match': '^Archive:\\s$'
    'name': 'project.archive'
  }

  {
    'match':'^(.*:\\s$)'
    'name': 'project'
  }

  {
    'begin': '^(?:[\\s]+?)(?=☐|✔|✘)'
    'captures': '1': 'name': ''
    'end': '\n'
    'patterns': [
      {
        'match': '(✔)'
        'name': 'task.marker.done'
      }

      {
        'match': '(✘)'
        'name': 'task.marker.cancelled'
      }

      {
        'match': '(☐)'
        'name': 'task.marker'
      }

      {
        'match': '@([\\w]+)?(?:\\((.*?)\\))?'
        'name':'task.attribute.$1'
      }

    ]
  }
]
